:root {
    --bs-primary: #AB8965;
    --bs-primary-rgb: 171, 137, 101;
    --bs-dark: #181818;
    --bs-font: 'Jost';
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Marcellus';
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.nav-logo img {
    height: 40px;
}
.dropdown-toggle::after {
    content: '\F282';
    border: 0;
    font-family: bootstrap-icons !important;
    font-size: 10px;
    line-height: 15px;
}
.dropdown-menu li a:hover {
    background-color: var(--bs-primary);
    color: white;
}
.btn-outline-primary {
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: white;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: white;
    --bs-gradient: none;
}
.btn {
    letter-spacing: 2px;
}
.carousel,
.carousel-inner,
.carousel-item {
    height: 100vh;
}
.carousel img {
    height: 100%;
    object-fit: cover;
    height: 100%;
}
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.carousel-item img {
    position: relative;
    z-index: 0;
}
.thin-border {
    border: 0.5px solid rgba(255, 255, 255, 0.4);
}
.shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:47% 47% 0px 0px ;
    width: 550.702px;
    height: 555px;
    z-index: 2;
    border: 3px solid #AB8965;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);               
    padding: 20px;
}

